body {
    font-family: Arial, sans-serif;
    background-color: #e3f5e1;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
}

button {
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

